<div class="linear-chart-wrapper">

  <svg id="linear" width="100%" data-proportion-h="0.8" viewBox="-50 -50 1200 700 " style="background-color: transparent">
    <defs>
      <linearGradient id="rest" gradientTransform="rotate(90)">
        <stop offset="5%" stop-color="#fa06c5" />
        <stop offset="95%" stop-color="#750392" />
      </linearGradient>
    </defs>

    <defs>
      <linearGradient id="activity" gradientTransform="rotate(90)">
        <stop offset="5%" stop-color="gold" />
        <stop offset="95%" stop-color="red" />
      </linearGradient>
    </defs>

    <defs>
      <linearGradient id="sleep" gradientTransform="rotate(90)">
        <stop offset="5%" stop-color="rgba(87, 139, 253, 0.993)" />
        <stop offset="95%" stop-color="blue" />
      </linearGradient>
    </defs>

    <path stroke-width="2" stroke="#ffffffaa" d="M100 40 H1100"/>

    <path stroke-width="2" stroke="#ffffffaa" d="M100 520 H1100"/>

    <text x="100" y="560" fill="white" style="font-size: 2em">00 - 04</text>
    <text x="270" y="560" fill="white" style="font-size: 2em">04 - 08</text>
    <text x="450" y="560" fill="white" style="font-size: 2em">08 - 12</text>
    <text x="610" y="560" fill="white" style="font-size: 2em">12 - 16</text>
    <text x="790" y="560" fill="white" style="font-size: 2em">16 - 20</text>
    <text x="960" y="560" fill="white" style="font-size: 2em">20 - 24</text>

    <circle r="20" fill="url(#activity)" cx="25" cy="630"></circle>
    <text x="60" y="640" fill="grey" style="font-size: 2em">Activity</text>

    <circle r="20" fill="url(#rest)" cx="385" cy="630"></circle>
    <text x="420" y="640" fill="grey" style="font-size: 2em">Rest</text>

    <circle r="20" fill="url(#sleep)" cx="745" cy="630"></circle>
    <text x="780" y="640" fill="grey" style="font-size: 2em">Sleep</text>


    <g app-line [points]="pointsItem" *ngFor="let pointsItem of pointsDay"></g>
  </svg>
</div>
