<svg:defs>
  <linearGradient id="activity" gradientTransform="rotate(110)">
    <stop offset="5%" stop-color="gold" />
    <stop offset="95%" stop-color="red" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <radialGradient id="rest" gradientTransform="rotate(35)" >
    <stop offset="5%" stop-color="#750392" />
    <stop offset="95%" stop-color="#fa06c5" />
  </radialGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="sleep" gradientTransform="rotate(130)">
    <stop offset="5%" stop-color="rgba(87, 139, 253, 0.993)" />
    <stop offset="95%" stop-color="blue" />
  </linearGradient>
</svg:defs>

<svg:circle
    [attr.r]="points.r"
    pathLength="100"
    fill="transparent"
    stroke-dasharray="100"
    stroke-dashoffset="00"
    stroke-width="30"
    stroke="#ffffff55"
    [attr.cx]="points.cx" [attr.cy]="points.cy"/>

<svg:circle
    [attr.r]="points.r"
    pathLength="100"
    fill="transparent"
    stroke-dasharray="100"
    [style.stroke-dashoffset]="strokeDashoffset"
    stroke-width="30"
    [attr.stroke]="stroke"
    stroke-linecap="round"
    [attr.transform]="transform"
    [@turnUp]="{ value: 'state', params: { newOffset : strokeDashoffset }}"
    [attr.cx]="points.cx" [attr.cy]="points.cy"/>

<svg:text [attr.x]="points.cx - 80" [attr.y]="points.cy + 30" fill="#ffffff" style="font-size: 4em; font-weight: 900;" @fadeIn>{{ 100 - strokeDashoffset }}%</svg:text>
<svg:text [attr.x]="points.cx - 80" [attr.y]="points.cy + 250" fill="#ffffff" style="font-size: 3em; font-weight: 500;" *ngIf="points.sleepQuality === 'activity'">Awake</svg:text>
<svg:text [attr.x]="points.cx - 80" [attr.y]="points.cy + 250" fill="#ffffff" style="font-size: 3em; font-weight: 500;" *ngIf="points.sleepQuality === 'rest'">Light</svg:text>
<svg:text [attr.x]="points.cx - 80" [attr.y]="points.cy + 250" fill="#ffffff" style="font-size: 3em; font-weight: 500;" *ngIf="points.sleepQuality === 'sleep'">Deep</svg:text>

