<svg:defs>
  <linearGradient id="aboveAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="#fa06c5" />
    <stop offset="95%" stop-color="#750392" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="belowAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="gold" />
    <stop offset="95%" stop-color="red" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="rest" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="#fa06c5" />
    <stop offset="95%" stop-color="#750392" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="activity" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="gold" />
    <stop offset="95%" stop-color="red" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="sleep" gradientTransform="rotate(130)">
    <stop offset="5%" stop-color="rgba(87, 139, 253, 0.993)" />
    <stop offset="95%" stop-color="blue" />
  </linearGradient>
</svg:defs>

<svg:path stroke-width="26"
          [attr.stroke]="stroke"
          [attr.d]="path"
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          [attr.strokeDashoffset]="strokeDashoffset"
          [@riseUp]="{ value: 'state', params: { newOffset : strokeDashoffset }}"/>
