<svg:defs>
  <linearGradient id="aboveAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="#fa06c5" />
    <stop offset="95%" stop-color="#750392" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="belowAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="gold" />
    <stop offset="95%" stop-color="red" />
  </linearGradient>
</svg:defs>

<svg:text x="0" y="45" fill="grey" style="font-size: 1.5em">23:00</svg:text>
<svg:path stroke-width="2" stroke="#ffffffaa" d="M100 40 H1100"/>

<svg:text x="0" y="530" fill="grey" style="font-size: 1.5em">07:00</svg:text>
<svg:path stroke-width="2" stroke="#ffffffaa" d="M100 520 H1100"/>



<svg:text x="110" y="560" fill="white" style="font-size: 2em">S</svg:text>
<svg:text x="260" y="560" fill="white" style="font-size: 2em">M</svg:text>
<svg:text x="410" y="560" fill="white" style="font-size: 2em">T</svg:text>
<svg:text x="560" y="560" fill="white" style="font-size: 2em">W</svg:text>
<svg:text x="710" y="560" fill="white" style="font-size: 2em">T</svg:text>
<svg:text x="860" y="560" fill="white" style="font-size: 2em">F</svg:text>
<svg:text x="1010" y="560" fill="white" style="font-size: 2em">S</svg:text>

<svg:circle r="20" fill="url(#aboveAverage)" cx="25" cy="630"></svg:circle>
<svg:text x="60" y="640" fill="grey" style="font-size: 2em">Above average</svg:text>

<svg:circle r="20" fill="url(#belowAverage)" cx="385" cy="630"></svg:circle>
<svg:text x="420" y="640" fill="grey" style="font-size: 2em">Below average</svg:text>

