<svg:defs>
  <linearGradient id="aboveAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="#fa06c5" />
    <stop offset="95%" stop-color="#750392" />
  </linearGradient>
</svg:defs>

<svg:defs>
  <linearGradient id="belowAverage" gradientTransform="rotate(90)">
    <stop offset="5%" stop-color="gold" />
    <stop offset="95%" stop-color="red" />
  </linearGradient>
</svg:defs>

<svg:text x="0" y="45" fill="grey" style="font-size: 1.5em">23:00</svg:text>
<svg:path stroke-width="2" stroke="#ffffffaa" d="M100 40 H1100"/>

<svg:text x="0" y="530" fill="grey" style="font-size: 1.5em">07:00</svg:text>
<svg:path stroke-width="2" stroke="#ffffffaa" d="M100 520 H1100"/>

<!-- <svg:path stroke-width="26"
          stroke="url(#aboveAverage)"
          d="M120 500 C120 500, 121 0, 121 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="8"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#belowAverage)"
          d="M270 500 C270 500, 271 0, 271 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="15"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#aboveAverage)"
          d="M420 500 C420 500, 421 0, 421 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="0"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#aboveAverage)"
          d="M570 500 C570 500, 571 0, 571 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="8"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#belowAverage)"
          d="M720 500 C720 500, 721 0, 721 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="12"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#aboveAverage)"
          d="M870 500 C870 500, 871 0, 871 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="18"
          @riseUp/> -->

<!-- <svg:path stroke-width="26"
          stroke="url(#aboveAverage)"
          d="M1020 500 C1020 500, 1021 0, 1021 0 "
          stroke-linecap="round"
          pathLength="100"
          stroke-dasharray="100"
          stroke-dashoffset="9"
          @riseUp/> -->


<svg:text x="110" y="560" fill="white" style="font-size: 2em">S</svg:text>
<svg:text x="260" y="560" fill="white" style="font-size: 2em">M</svg:text>
<svg:text x="410" y="560" fill="white" style="font-size: 2em">T</svg:text>
<svg:text x="560" y="560" fill="white" style="font-size: 2em">W</svg:text>
<svg:text x="710" y="560" fill="white" style="font-size: 2em">T</svg:text>
<svg:text x="860" y="560" fill="white" style="font-size: 2em">F</svg:text>
<svg:text x="1010" y="560" fill="white" style="font-size: 2em">S</svg:text>

<svg:circle r="20" fill="url(#aboveAverage)" cx="25" cy="630"></svg:circle>
<svg:text x="60" y="640" fill="grey" style="font-size: 2em">Above average</svg:text>

<svg:circle r="20" fill="url(#belowAverage)" cx="385" cy="630"></svg:circle>
<svg:text x="420" y="640" fill="grey" style="font-size: 2em">Below average</svg:text>

